@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/Geist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Geist', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
